<app-nav-bar></app-nav-bar>
<div class="container center">
<div class="row">
  <main>
    <div class="col s10">
      <h5>Refeição= {{refeicao.nome}}  </h5>
      <h6>Quantidade = {{refeicao.qnt}}</h6>
      <h6>Valor= {{refeicao.valor}} </h6>
    </div>
     <div class="col s10">
      <h5>Sobremesa: {{sobremesa.nome}}  </h5>
      <h6>Quantidade: {{sobremesa.qnt}} </h6>
      <h6>Valor:  {{sobremesa.valor}}</h6>
    </div>
     <div class="col s10">
      <h5>Bebida: {{bebida.nome}}  </h5>
      <h6>Quantidade: {{bebida.qnt}}</h6>
      <h6>Valor: {{bebida.valor}} </h6>
    </div>

       <div class="col s10">
      <h5>CLiente: {{cliente.nome}}  </h5>
      <h6>Situação = {{cliente.situacao}}</h6>
      <h6>Devoluções = {{cliente.devolucoes}} </h6>
    </div>

    <div class="col s10">
      <h5>Entregador : {{entregador.nome}}  </h5>
    </div>
  </main>
</div>
</div>